<form action="/guardar" method="POST">
     <input type="text" autocomplete="off"  name="user" placeholder="Usuario" value={{{usuario}}} />
    <input autofocus autocomplete="off" type="text" name="texto" placeholder="Ingresa Texto"/>
    <input type="submit" value="Guardar"/>
</form>
<ul>
    {{{datos}}}
</ul>

